@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

:root {
  --primary: #9ddb18;
  --accent-dark: #151b23;
  --white: #e4e8ea;
  --white-mute: #c6cbce;
  --gray: oklch(70.7% 0.022 261.325);
}

@theme {
  --color-primary: var(--primary);
  --color-accent-dark: var(--accent-dark);
  --color-white: var(--white);
  --color-white-mute: var(--white-mute);
  --color-gray: var(--gray);
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--accent-dark);
  background-size: 100% 600px;
  color: rgb(var(--gray));
  font-size: 20px;
}

main {
  max-width: 1560px;
  margin: 0 5rem;
  margin-top: 3rem;
}
@media (min-width: 1560px) {
  main {
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  main {
    margin: 0 3rem;
  }
}

@media (max-width: 640px) {
  main {
    margin: 0 1rem;
  }
}
