@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

:root {
  --primary: #30d578;
  --accent-dark: #10172c;
  --white: #e4e8ea;
  --white-mute: #c6cbce;
  --gray: oklch(70.7% 0.022 261.325);
}

@theme {
  --color-primary: #30d578;
  --color-accent-dark: #10172c;
  --color-white: #e4e8ea;
  --color-white-mute: #c6cbce;
  --color-gray: var(--gray);
}

body {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--accent-dark);
  background-size: 100% 600px;
  color: rgb(var(--gray));
  font-size: 20px;
}

main {
  max-width: 1440px;
  margin: 0 5rem;
  margin-top: 3rem;
}

@media (max-width: 1080px) {
  main {
    margin: 0 3rem;
  }
}
