---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Projects from "../layouts/Projects.astro";
import { SITE_TITLE, SITE_DESCRIPTION, ABOUT_ME } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section
        id="hero"
        class="mt-6 flex w-full flex-col items-center justify-between md:mt-16 lg:flex-row"
      >
        <!-- Left Content: Text, Socials, and Buttons -->
        <div class="text-gray flex w-full flex-col gap-6 lg:w-[52%]">
          <h2 class="text-white-mute font-code text-2xl">&lt;Hello&gt;</h2>
          <h1
            class="text-3xl leading-2 font-semibold md:text-5xl md:leading-10"
          >
            I'm <span class="text-primary">Santanu</span>
          </h1>
          <h3 class="text-2xl font-normal md:text-[34px]">
            I'm a<span class="font-code text-white">
              <span class="text-primary">{"{"}</span>Software Engineer<span
                class="text-primary">{"}"}</span
              >
            </span>
          </h3>
          <p class="text-gray mt-2 text-base">
            Full-stack developer skilled in Python and TypeScript, building
            real-time and cloud-native scalable applications.
          </p>

          <!-- Social Media Icons -->
          <div class="flex items-center space-x-4 text-2xl md:mt-2">
            <a
              href="#"
              class="text-gray-400 transition-colors duration-300 hover:text-white"
              aria-label="LinkedIn"
            >
              <i class="ri-linkedin-fill"></i>
            </a>
            <a
              href="#"
              class="text-gray-400 transition-colors duration-300 hover:text-white"
              aria-label="GitHub"
            >
              <i class="ri-github-fill"></i>
            </a>
            <a
              href="#"
              class="text-gray-400 transition-colors duration-300 hover:text-white"
              aria-label="Twitter/X"
            >
              <i class="ri-twitter-x-line"></i>
            </a>
          </div>

          <!-- Action Buttons -->
          <div class="mt-4 flex items-center gap-4">
            <a
              href="#"
              class="bg-primary text-accent-dark shadow-primary/20 hover:bg-accent-dark hover:text-primary rounded-full px-8 py-2 font-semibold shadow-lg transition-all duration-300"
              >Contact</a
            >
            <a
              href="#"
              class="hover:border-gray hover:bg-gray hover:text-accent-dark rounded-full border border-gray-600 px-8 py-2 font-semibold text-gray-300 transition-all duration-300"
              >Download CV</a
            >
          </div>
        </div>

        <!-- Right Content: Code Snippet -->
        <div
          class="font-code mt-15 w-full rounded-lg border border-gray-700 bg-[#161B22] shadow-2xl lg:mt-0 lg:w-[46%]"
        >
          <!-- Window Header -->
          <div
            class="flex w-full items-center gap-2 border-b border-gray-700 p-3"
          >
            <div class="flex flex-1 items-center gap-4 text-sm">
              <span
                class="-mb-3 border-b-2 border-yellow-400 px-2 pb-3 text-yellow-400"
              >
                📜 skills.js
              </span>
              <span class="cursor-pointer text-gray-500 hover:text-gray-300">
                🐍 master.py
              </span>
            </div>
          </div>
          <!-- Code Area -->
          <div
            class="text-white-mute w-full overflow-x-auto p-4 text-xs leading-6 sm:text-sm"
          >
            <span class="text-gray">// Tech I work with</span>
            <br />
            <br />

            <span>
              <span class="text-blue-400">const</span> techStack = {"{"}
            </span>
            <br />
            <div class="flex w-full flex-nowrap overflow-auto pl-4 sm:pl-6">
              <dev class="text-primary w-24 shrink-0 sm:w-30"
                >'frontend'<span class="text-white">:</span></dev
              >
              <div class="flex w-auto grow flex-wrap">
                <span>[</span>
                <span><span class="text-orange-400">'HTML'</span>,</span>
                <span><span class="text-orange-400">'Tailwind'</span>,</span>
                <span><span class="text-orange-400">'JavaScript'</span>,</span>
                <span><span class="text-orange-400">'TypeScript'</span>,</span>
                <span><span class="text-orange-400">'Vue'</span>,</span>
                <span class="text-orange-400">'Svelte'</span>
                <span>],</span>
              </div>
            </div>
            <div class="flex w-full flex-nowrap overflow-auto pl-4 sm:pl-6">
              <dev class="text-primary w-24 shrink-0 sm:w-30"
                >'backend'<span class="text-white">:</span></dev
              >
              <div class="flex w-auto grow flex-wrap">
                <span>[</span>
                <span><span class="text-orange-400">'Django'</span>,</span>
                <span><span class="text-orange-400">'FastAPI'</span>,</span>
                <span><span class="text-orange-400">'PostgreSQL'</span>,</span>
                <span><span class="text-orange-400">'MongoDB'</span>,</span>
                <span><span class="text-orange-400">'Redis'</span>,</span>
                <span><span class="text-orange-400">'RabbitMQ'</span>,</span>
                <span class="text-orange-400">'Celery'</span>
                <span>],</span>
              </div>
            </div>
            <div class="flex w-full flex-nowrap overflow-auto pl-4 sm:pl-6">
              <dev class="text-primary w-24 shrink-0 sm:w-30"
                >'languages'<span class="text-white">:</span></dev
              >
              <div class="flex w-auto grow flex-wrap">
                <span>[</span>
                <span><span class="text-orange-400">'Python'</span>,</span>
                <span class="text-orange-400">'JavaScript/TypeScript'</span>
                <span>],</span>
              </div>
            </div>
            <div class="flex w-full flex-nowrap overflow-auto pl-4 sm:pl-6">
              <dev class="text-primary w-24 shrink-0 sm:w-30"
                >'DevOps'<span class="text-white">:</span></dev
              >
              <div class="flex w-auto grow flex-wrap">
                <span>[</span>
                <span><span class="text-orange-400">'Docker'</span>,</span>
                <span><span class="text-orange-400">'Ansible'</span>,</span>
                <span><span class="text-orange-400">'Terraform'</span>,</span>
                <span class="text-orange-400">'Github Actions'</span>
                <span>]</span>
              </div>
            </div>
            {"}"}

            <br />
            <br />
            console.<span class="text-yellow-400">log</span>(<span
              class="text-orange-400">"Presenting you my expertise:"</span
            >, techStack);
          </div>
        </div>
      </section>
      <br />

      <!-- About Section -->
      <section id="about" class="mt-10 pt-8 md:mt-32 md:mb-10" id="about">
        <h2 class="text-primary font-code mt-5 mb-8 text-2xl font-medium">
          &lt;<span class="text-white-mute font-normal">About</span>&gt;
        </h2>

        <!-- Left Content: About text and skills -->
        <div class="flex flex-col gap-6 lg:col-span-2">
          <p
            class="text-lg leading-relaxed text-gray-400 md:text-xl"
            set:html={ABOUT_ME}
          />

          <!-- Skills List -->
          <div
            class="font-code text-primary mt-4 flex flex-wrap gap-x-4 gap-y-2 text-xs md:text-base"
          >
            <span>Back End Development</span>
            <span class="text-gray-600">|</span>
            <span>Front End Development</span>
            <span class="text-gray-600">|</span>
            <span>Handle DevOps</span>
            <span class="text-gray-600">|</span>
            <span>❤️ building Real-Time System</span>
          </div>
        </div>
      </section>
      <br />
      <Projects />
    </main>
    <br />
    <Footer />
  </body>
</html>
