---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <h2>
      <a href="/"
        ><span style="color: var(--primary); font-weight: 700;">Coding </span> Santa</a
      >
    </h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="#about">About</HeaderLink>
      <HeaderLink href="#projects">Projects</HeaderLink>
      <HeaderLink href="/blog">Contact</HeaderLink>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 2rem 5rem;
  }

  h2 {
    text-align: center;
    margin: 0;
  }
  h2 > a {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--white-mute);
    text-decoration: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .internal-links > a {
    padding: 0 12px;
    color: var(--white-mute);
    font-size: 1.3rem;
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }

  .internal-links > a.active {
    text-decoration: none;
    color: var(--primary);
  }
</style>
